{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-3 mb-1">
            <div class="col">
                <p class="h2 p-1  bg-original w-50 rounded text-center text-white">遺失物捜索一覧</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bg-light p-1 border m-0">遺失物捜索一覧画面では，出されている遺失物捜索依頼の情報を一覧形式で確認することが可能となります．</p>
                <hr>
            </div>
        </div>

<div class="row">
    <div class="col">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ユーザID</th>
                    <th>遺失日</th>
                    <th>遺失物</th>
                    <th>落とした場所</th>
                </tr>
            </thead>

            <tbody>

            {% for d in data %}
                <tr>
                    <td>{{ d.ID }}</td>
                    <td>{{ d.ユーザID }}</td>
                    <td>{{ d.遺失日 }}</td>
                    <td>{{ d.遺失物 }}</td>
                    <td>{{ d.落とした場所 }}</td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

    </div>
</div>
</main>
{% endblock %}